body {
  background-color: rgb(216, 216, 216);
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'DM Sans', sans-serif;
}

input {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 0.6rem;
  width: 20rem;
  height: 2.5rem;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
}

button {
  width: 20.8rem;
  height: 3.5rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  margin-top: 1rem;
  background-color: #A3C4BC;
}

h1 {
  margin-top: 4rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 5px;
  height: 30rem;
  width: 30rem;
  background-color: rgb(237, 237, 237);
}

#logo {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
}

#no-account {
  margin-top: 2rem;
}

#sign-up {
  margin-left: 0.5rem;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}