body {
  background-color: rgb(216, 216, 216);
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'DM Sans', sans-serif;
}

input {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 0.6rem;
  width: 20rem;
  height: 2.5rem;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
}

.trip-wizard-input {
  margin-top: 1rem;
  width: 30rem;
  font-size: 1rem;
}

button {
  width: 20.8rem;
  height: 3.5rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  margin-top: 1rem;
  background-color: #A3C4BC;
  cursor: pointer;
}

button#signupBtn {
  margin-bottom: 3rem;
}

h1 {
  margin-top: 4rem;
}

.trip-card {
  width: 20rem;
  height: 30rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  margin-top: 5rem;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 10px rgba(67, 67, 67, 0.1);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.trip-card:hover {
  transform: scale(1.02);
}

.trip-image {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 5rem;
  border-radius: 3px;
}

.trip-name {
  font-size: 2rem;
  font-weight: 700;
  color: #363636;
}

.trip-dates {
  color: #767676;
}

.error-msg {
  width: 20rem;
  height: 2.5rem;
  border: 1px solid #ba5353;
  margin-top: -1.5rem;
  border-radius: 5px;
  padding: 10px;
  background-color: #efbbbb;
  color: #a40000;
  margin-bottom: 3rem;
}

.error-msg#login-error-msg {
  margin-top: 1.5rem;
  margin-bottom: -0.5rem;
  padding-bottom: 0px;
  height: 2rem;
}

.signupLoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 5px;
  height: 30rem;
  width: 30rem;
  background-color: rgb(237, 237, 237);
}

.signupLoginForm#signup-form {
  height: fit-content;
}

#cancel-option {
  font-size: 1.2rem;
  color: #808080;
  cursor: pointer;
  margin-top: 5rem;
}

#logo {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
}

#no-account {
  margin-top: 2rem;
}

#sign-up {
  margin-left: 0.5rem;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

#step-bottom-line {
  margin-top: 2rem;
}

#main-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 40rem;
}

#user-greeting-msg {
  font-size: 3rem;
  font-family: 'DM Serif Display', serif;
}

#user-followup-msg {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#trips {
  display: flex;
  justify-content: center;
}

#trip-wizard {
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 3rem;
}

#next-steps {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 40%;
}

.next-step {
  cursor: pointer;
  margin-top: 4.3rem;
  color: #303030;
  font-weight: 500;
  border: 1px solid #81a49b;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #A3C4BC;
  padding-left: 2rem;
  padding-right: 2rem;
}

.next-step:hover {
  background-color: #9bbdb5;
}